body {
    font-family: fantasy;
    background-color: #fee;
    border: 3px solid #fdd;
    padding-left: 5px;
}

h1 {
    -webkit-transform: rotate(4deg);
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: -10px;
}

#contacts {
    font-family: sans-serif;
    ;
    list-style: none;
    padding-left: 10;
    -webkit-transform: rotate(-4deg);
}

.contact-link span {
    display: inline-block;
    width: 100px;
    color: blue;
    font-size: 20px;
}

.contact-link img {
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(18deg)
}
